{% load wagtailimages_tags wagtailcore_tags %}

{% if topics %}
    <div class="container-fluid pt-5 mb-3">
        <div class="container">
                <h4 class="m-0 text-uppercase font-weight-bold mb-3">Choose a topic:</h4>
			
            <div class="owl-carousel news-carousel carousel-item-4 position-relative">
			
			{% for category in topics %}
			
                <div class="position-relative overflow-hidden" style="height: 300px;">
				{% image category.image original as banner %}
				
                    <img class="img-fluid h-100" src="{{ banner.url }}" alt="{{ banner.alt }}" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-2">
                        </div>
                        <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="{{ category.url }}">{{ category.title }}
			</a>
                    </div>
                </div>
			{% endfor %}
				
            </div>
			
        </div>
    </div>
{% endif %}