{% extends 'app/base.html' %}

{% block content %}
	<div class="col-12 p-5 mt-5">
			<form method="GET" action="">
				<div class="row">
				{% for field in form %}
					{% if field.is_hidden %}
						{% else %}
						<div class="col-md-3 col-12 mb-3">
							<h5 class="display-6">{{ field.label_tag }}</h5>
							<div>{{ field }}</div>
						</div>
						{% endif %}
				{% endfor %}
				</div>
				<div>
					<button type="submit" class="btn btn-outline-primary mt-3">Search</button>
				</div>
			</form>
			
		<script async="async" data-cfasync="false" src="//pl23383023.highcpmgate.com/9eb8cc7d386b25d3577662a96f56de78/invoke.js"></script>
		<div id="container-9eb8cc7d386b25d3577662a96f56de78"></div>
	</div>
{% endblock content %}